USE [ECS]
GO
/****** Object:  Table [dbo].[AuditTrail]    Script Date: 18/09/2025 12:16:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditTrail](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Username] [nvarchar](100) NULL,
	[Action] [nvarchar](50) NULL,
	[Timestamp] [datetime] NULL,
	[IPAddress] [nvarchar](50) NULL,
	[ClinicID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 18/09/2025 12:16:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 18/09/2025 12:16:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RolePermissionID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[ScreenID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolePermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18/09/2025 12:16:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Screens]    Script Date: 18/09/2025 12:16:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Screens](
	[ScreenID] [int] IDENTITY(1,1) NOT NULL,
	[ScreenName] [nvarchar](100) NOT NULL,
	[ScreenPath] [varchar](255) NULL,
	[GroupName] [nvarchar](100) NULL,
	[DisplayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScreenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAS_COSTCENTERS]    Script Date: 18/09/2025 12:16:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAS_COSTCENTERS](
	[CST_NUM] [varchar](12) NULL,
	[CST_TYPE] [char](3) NULL,
	[CST_E_DESC] [varchar](max) NULL,
	[CST_STATUS] [int] NULL,
	[WKO_MANAGER] [varchar](max) NULL,
	[WKO_INVOICER] [varchar](max) NULL,
	[COMPANY] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserExtraScreens]    Script Date: 18/09/2025 12:16:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserExtraScreens](
	[UserID] [int] NOT NULL,
	[ScreenID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ScreenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18/09/2025 12:16:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[RoleID] [int] NOT NULL,
	[CompanyID] [int] NULL,
	[CostCenter] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditTrail] ON 

INSERT [dbo].[AuditTrail] ([AuditID], [UserID], [Username], [Action], [Timestamp], [IPAddress], [ClinicID]) VALUES (663, 15, N'admin', N'Login', CAST(N'2025-08-24T13:28:58.173' AS DateTime), N'::1', 1)
INSERT [dbo].[AuditTrail] ([AuditID], [UserID], [Username], [Action], [Timestamp], [IPAddress], [ClinicID]) VALUES (664, 15, N'admin', N'Logout', CAST(N'2025-08-24T13:31:12.467' AS DateTime), N'::1', 1)
INSERT [dbo].[AuditTrail] ([AuditID], [UserID], [Username], [Action], [Timestamp], [IPAddress], [ClinicID]) VALUES (665, 15, N'admin', N'Login', CAST(N'2025-08-24T13:35:35.557' AS DateTime), N'::1', 1)
GO
SET IDENTITY_INSERT [dbo].[AuditTrail] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([CompanyID], [CompanyName]) VALUES (1, N'HEISCO')
INSERT [dbo].[Companies] ([CompanyID], [CompanyName]) VALUES (3, N'')
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[RolePermissions] ON 

INSERT [dbo].[RolePermissions] ([RolePermissionID], [RoleID], [ScreenID]) VALUES (358, 1, 6)
INSERT [dbo].[RolePermissions] ([RolePermissionID], [RoleID], [ScreenID]) VALUES (357, 1, 8)
INSERT [dbo].[RolePermissions] ([RolePermissionID], [RoleID], [ScreenID]) VALUES (354, 1, 31)
SET IDENTITY_INSERT [dbo].[RolePermissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Screens] ON 

INSERT [dbo].[Screens] ([ScreenID], [ScreenName], [ScreenPath], [GroupName], [DisplayOrder]) VALUES (6, N'UserManagement', N'UserManagement.aspx', N'Administration', 1)
INSERT [dbo].[Screens] ([ScreenID], [ScreenName], [ScreenPath], [GroupName], [DisplayOrder]) VALUES (8, N'ScreenManagement', N'ScreenManagement.aspx', N'Administration', 2)
INSERT [dbo].[Screens] ([ScreenID], [ScreenName], [ScreenPath], [GroupName], [DisplayOrder]) VALUES (31, N'MIS', N'MIS.aspx', N'Clearance', 1)
SET IDENTITY_INSERT [dbo].[Screens] OFF
GO
INSERT [dbo].[TAS_COSTCENTERS] ([CST_NUM], [CST_TYPE], [CST_E_DESC], [CST_STATUS], [WKO_MANAGER], [WKO_INVOICER], [COMPANY]) VALUES (N'11000000', N'CC ', N'CEO OFFICE', 1, NULL, NULL, N'HEISCO')
INSERT [dbo].[TAS_COSTCENTERS] ([CST_NUM], [CST_TYPE], [CST_E_DESC], [CST_STATUS], [WKO_MANAGER], [WKO_INVOICER], [COMPANY]) VALUES (N'11000001', N'CC ', N'VICE CEO''S OFFICE', 1, NULL, NULL, N'HEISCO')
INSERT [dbo].[TAS_COSTCENTERS] ([CST_NUM], [CST_TYPE], [CST_E_DESC], [CST_STATUS], [WKO_MANAGER], [WKO_INVOICER], [COMPANY]) VALUES (N'11000002', N'CC ', N'DEPUTY CEO-OIL AND GAS SPECIAL PROJECTS', 1, NULL, NULL, N'HEISCO')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [RoleID], [CompanyID], [CostCenter]) VALUES (15, N'admin', N'$2a$11$mSGCOZXbB.9I83KuGlyDi.ActPFTRLWV1wvtvVkisYr3Xas0GR.Vy', 1, 1, NULL)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [RoleID], [CompanyID], [CostCenter]) VALUES (24, N'navaneeth.p', N'$2a$11$Gfl8Wue7/OpdQPQGiezKXOkIkTk0Fri3rhKccbCKkXBtRgGlk1RaO', 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_RolePermission]    Script Date: 18/09/2025 12:16:19 PM ******/
ALTER TABLE [dbo].[RolePermissions] ADD  CONSTRAINT [UQ_RolePermission] UNIQUE NONCLUSTERED 
(
	[RoleID] ASC,
	[ScreenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B616086AAE1C1]    Script Date: 18/09/2025 12:16:19 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Screens__C7533DF1F6A81ED6]    Script Date: 18/09/2025 12:16:19 PM ******/
ALTER TABLE [dbo].[Screens] ADD UNIQUE NONCLUSTERED 
(
	[ScreenName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4F6F4F4F8]    Script Date: 18/09/2025 12:16:19 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditTrail] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD FOREIGN KEY([ScreenID])
REFERENCES [dbo].[Screens] ([ScreenID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserExtraScreens]  WITH CHECK ADD  CONSTRAINT [FK_UserExtraScreens_Screens] FOREIGN KEY([ScreenID])
REFERENCES [dbo].[Screens] ([ScreenID])
GO
ALTER TABLE [dbo].[UserExtraScreens] CHECK CONSTRAINT [FK_UserExtraScreens_Screens]
GO
ALTER TABLE [dbo].[UserExtraScreens]  WITH CHECK ADD  CONSTRAINT [FK_UserExtraScreens_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserExtraScreens] CHECK CONSTRAINT [FK_UserExtraScreens_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
ON DELETE CASCADE
GO
